/* GENERAL */
.center {
    text-align: center;
}

body {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: rgb(20, 20, 20);
}

.navRight {
    background-color: #9a39ac;
    float: right;
    cursor: pointer;
}

/* CSS for Login page */
.main {
    background-color: #FFFFFF;
    width: 400px;
    height: 400px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.titleText {
    padding-top: 40px;
    padding-bottom: 25px;
    color: #8C55AA;
    font-weight: bold;
    font-size: 23px;
    text-align: center;
}

#txtResult {
    text-align: center;
    color: #3C3C3C;
}

#inpUsername, #inpPassword, #inpUsernameReg, #inpPasswordReg, #inpUsername2, #inpPassword2 {
    width: 250px;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    /* margin-left: 46px; */
    text-align: center;
}

#btnLogin, #btnCreate, #btnSignUp {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    /* margin-left: 11.5%; */
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    display: inline-grid;
}

#btnLogin:hover {
    background: linear-gradient(to right, #9a39ac, #ff00ea);
}


/* CSS for userprofile */
#usernameDiv, #passwordDiv {
    display: none;
}

.greyButtons {
    display:inline-block;
    padding:0.2em 1.45em;
    margin:0.1em;
    border:0.15em solid #CCCCCC;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:400;
    color:#000000;
    background-color:#CCCCCC;
    text-align:center;
    position:relative;
}

.greyButtons:hover {
    border-color:#7a7a7a;
}

/* CSS for modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1; /* Må være framste */
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.04); /* Svart opacity*/
    left: 0;
    top: 0;
   /*  padding-top: 100px; */
    width: 100%;
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
   /*  padding-left: 50px; */
   border-radius: 1.5em;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
